* {
    font-family: 'Merriweather', serif;
}

.citiesBtn{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
}
.bg-blue {
    background-color:navy;
}

.text-light{
    color:white;
}


.list{
    list-style: none;  
}

.list li{
    padding: 3%;
}

.show{ 
    width: 100%;  
    display: flex;
    flex-direction: column;
    font-size: large;
    justify-content: center;
    align-items: flex-start;
    padding: 3%;
}

.searchValueHeader .date{
    display: flex;
padding-top: 2%;
padding-bottom: 2%;
justify-content: center;

}

.container {
display: flex;

padding: 2%;
width: 100%;
}

.containerContainer{
    padding-left: 3%;
    width: 30%;
}

.container-fluid {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.headerContainer{
    display: flex;
    display: block;
    justify-content: center;

}

.dayContainer{
    display: flex;
    flex-direction: row;

}

.dayOne .dayTwo .dayThree .dayFour .dayFive{
    padding: 3%;
    border: solid navy;
}

.dayContainer{
    display: flex;
    flex-direction: row;
    padding: 3%;
    justify-content: space-evenly;
    
}

.borders {
    border: solid navy;
}
/* 

.dayContainer div{
    border: solid navy;
} */